<!-- 轮播图 -->
<ion-slides pager="true" autoplay="1000" loop="true" class="slide">
  <ion-slide>
    <img src="assets/imgs/banner2.png" alt="">
  </ion-slide>
  <ion-slide>
    <img src="assets/imgs/banner2.png" alt="">
  </ion-slide>
  <ion-slide>
    <img src="assets/imgs/banner2.png" alt="">
  </ion-slide>
  <ion-slide>
    <img src="assets/imgs/banner2.png" alt="">
  </ion-slide>
</ion-slides>
<!-- 分类 -->
<ion-grid class="grid">
  <ion-row>
    <ion-col col-4>
      <img src="assets/imgs/img2.png" alt="">
      <p>客厅</p>
    </ion-col>
    <ion-col col-4>
      <img src="assets/imgs/img3.png" alt="">
      <p>书房</p>
    </ion-col>
    <ion-col col-4>
      <img src="assets/imgs/img4.png" alt="">
      <p>门厅</p>
    </ion-col>
  </ion-row>
</ion-grid>
<div class="subtitle">
  <h3 text-center>桔|子|家|居</h3>
  <p text-center>RECOMMENDATION</p>
</div>
<!-- 商品展示 -->
<ion-grid class="good">
  <ion-row>
    <ion-col col-6>
      <img src="assets/imgs/jiaju1.png" alt="">
      <p>-欧式全实木花几-</p>
      <span><ion-icon name="md-star-half"></ion-icon></span>
    </ion-col>
    <ion-col col-6>
      <img src="assets/imgs/jiaju2.png" alt="">
      <p>-现代简约早餐桌-</p>
      <span><ion-icon name="md-star-half"></ion-icon></span>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-6>
          <img src="assets/imgs/jiaju1.png" alt="">
          <p>-欧式全实木花几-</p>
          <span><ion-icon name="md-star-half"></ion-icon></span>
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/jiaju2.png" alt="">
          <p>-现代简约早餐桌-</p>
          <span><ion-icon name="md-star-half"></ion-icon></span>
        </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-6>
          <img src="assets/imgs/jiaju1.png" alt="">
          <p>-欧式全实木花几-</p>
          <span><ion-icon name="md-star-half"></ion-icon></span>
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/jiaju2.png" alt="">
          <p>-现代简约早餐桌-</p>
          <span><ion-icon name="md-star-half"></ion-icon></span>
        </ion-col>
  </ion-row>
</ion-grid>


