<div class="content">
  <div class="left">
    <div class="top">
      <a href=""><img src="assets/images/touxiang.jpg" alt=""></a>
      <p class="name">2-魏佳</p>
      <div class="fans">
        <a href="">
          <span class="count">0</span>
          <p>粉丝</p>
        </a>
        <a href="">
          <span class="count">0</span>
          <p>关注</p>
        </a>
      </div>
    </div>
    <hr>
    <div class="bottom">
        <ul>
          <li><a href=""><img src="assets/images/renwu1.jpg" alt="">任务<span><img src="assets/images/jiantou.png" alt=""></span></a></li>
          <li><a [routerLink]="['/tongbu']"><img src="assets/images/tongbuke.jpg" alt="">同步课<span><img src="assets/images/jiantou.png" alt=""></span></a></li>
          <li><a [routerLink]="['/course']"><img src="assets/images/kecheng.png" alt="">课程<span><img src="assets/images/jiantou.png" alt=""></span></a></li>
          <li><a href=""><img src="assets/images/qieshuo.jpg" alt="">且说<span><img src="assets/images/jiantou.png" alt=""></span></a></li>
          <li><a href=""><img src="assets/images/tongzhi.jpg" alt="">通知<span><img src="assets/images/jiantou.png" alt=""></span></a></li>
        </ul>
      </div>
  </div>
  <div class="right">
    <div class="right-up">
      <div class="list">
        <ul>
          <li><a href=""><img src="assets/images/weiwancheng.jpg">未提交</a></li>
          <li><a href=""><img src="assets/images/yiwancheng.jpg">已完成</a></li>
          <li><a href=""><img src="assets/images/wanjie.jpg">已完结</a></li>
        </ul>
      </div>
      <div class="input">
        <form action="">
          <input type="text" placeholder="输入同步课名称搜索">
          <button>搜索</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="right-down">
        <img src="assets/images/i.jpg" alt="">
        <div class="t">您当前的同步课任务已经全部完成</div>
    </div>
  </div>
</div>

