.container{
    width:1000px;
    margin:0 auto;
}
.top{
    margin-top:15px;
    margin-bottom:20px;
    font-size:14px;
    color:#ccc;
}
.top a img{
    width:25px;
    height:25px;
    margin-bottom:-8px;
}
.top a{
    color:#ff6e3d;
}
.middle{
    
}
.middle p{
    font-size:20px;
    color:#666;
}
.middle .videos{
    margin-top:10px;
    width:1000px;
    height:510px;;
    background-color:#000;
    float:left;
}
.middle .videos video{
    padding-top:5px;
    width:750px;
    height:500px;
}
.middle .lists{
    float:right;
    margin-top:-509px;
    width:250px;
    height:509px;
    background-color:#2b2b2b;
    margin-bottom:20px;
}
.middle .lists .lis p{
    color:#9e9e9e;
}
.middle .lists .lis{
    margin-top:30px;
    margin-left:50px;
}
.middle .lis ul{
    line-height:40px;
    margin-top:20px;
}
.middle .lis li a{
    font-size:16px;
    color:#9e9e9e;
}
.bottom{
    float:left;
}
.bottom-left-fir{
    clear:both;
    margin-top:30px;
    width:680px;
    height:100px;
    border:1px solid #dddddd;
    padding-left:20px;
    padding-top:10px;
    border-radius:5px;
}
.bottom-left-fir p{
    font-size:14px;
    color:#333;
}
.bottom-left-sen{
    margin-top:20px;
}
.bottom-left-sen p{
    font-size:18px;
    color:#333;
}
.bottom-left-sen .wenda{
    margin-top:10px;
    width:700px;
    height:150px;
    border:1px solid #dddddd;
    border-radius:5px;
}
.bottom-right{
    float:right;
    width:240px;
    height:300px;
    border:1px solid #dddddd;
    padding-left:10px;
}
.bottom-right p{
    font-size:16px;
    color:#333;
    margin-bottom:10px;
}
.bottom-right img{
    width:35px;
    height:35px;
    margin-right:10px;
    border-radius:35px;
}