<div class="container">
  <div class="top">
    <a href=""><img src="assets/images/home.jpg" alt=""></a>&nbsp;/&nbsp;
    <a href="">{{video?.name}}</a>&nbsp;/&nbsp;
    <a href="">{{sourse?.className}}</a>&nbsp;/&nbsp;
    课程说明（上）
  </div>
  <div class="middle">
    <p>课程说明（上）</p>
    <div class="videos">
      <video src="{{video?.video}}" type="video/mp4" controls></video>
    </div>
    <div class="lists">
      <div class="lis">
        <p>课程目录</p>
      <ul>
        <li><a href="">1&nbsp;课程说明（上）</a></li>
        <li><a href="">2&nbsp;课程说明（下）</a></li>
        <li><a href="">3&nbsp;注册Github账户</a></li>
        <li><a href="">4&nbsp;Github个人主页</a></li>
        <li><a href="">5&nbsp;Github个人主页（下）</a></li>
      </ul>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-left-fir">
      <p>{{video?.text}}</p>
    </div>
    <div class="bottom-left-sen">
      <p>技术问答</p>
      <div class="wenda">

      </div>
    </div>
  </div>
  <div class="bottom-right">
    <p>正在学习787人</p>
    <img src="assets/images/m.jpg" alt="">
    <img src="assets/images/m.jpg" alt="">
    <img src="assets/images/m.jpg" alt="">
    <img src="assets/images/m.jpg" alt="">
    <img src="assets/images/m.jpg" alt="">
  </div>
</div>



