.container{
    width:1000px;
    margin:0 auto;
}
.all{
    margin-top:20px;
    float: left;
}
.container .all li{
    width:700px;
    height:150px;
}
.left{
    width:50px;
    height:150px;
    float:left;
    margin-right:10px;
}
.left img{
    width:50px;
    height:50px;
    border-radius: 50px;
}
.up{
    margin-bottom:20px;
}
.up-left{
    float: left;
    margin-right:10px;
}
.right .up .up-left img{
    width:130px;
    height:90px;
}
.up-right{
    margin-bottom:10px;
}
.up-right a{
    font-size:14px;
    font-weight: bold;
    color:#333;
}
.up-right a:hover{
     color:#eb7350;
}
.up-right p{
    font-size:14px;
    color:#666;
    margin-top:20px;
}
.right .down{
    margin-bottom:10px;
    font-size:14px;
    color:#ccc;
}
.right .down span{
    float:right;
}
.resou{
    width:200px;
    height:400px;
    margin-top:20px;
    float:right;
    margin-right:10px;
}
.resou h4{
    color:#333;
    margin-bottom:10px;
}
.resou ul{
    margin-top:10px;
    line-height:30px;
}
.resou ul li{
    font-size:12px;
}
.resou li a{
    color:#333;
}
.resou li span{
    color:#ccc;
    float: right;
}
