<!-- 轮播 -->
<ion-slides pager="true" autoplay="1000" loop="true" class="sli">
  <ion-slide>
    <img src="assets/imgs/slide1.png" alt="">
  </ion-slide>
  <ion-slide>
    <img src="assets/imgs/slide1.png" alt="">
  </ion-slide>
  <ion-slide>
    <img src="assets/imgs/slide1.png" alt="">
  </ion-slide>
</ion-slides>
<div class="subtitle">
    <h3 text-center>热|门|推|荐</h3>
    <p text-center>RECOMMENDATION</p>
</div>
<!-- 商品列表没用grid，改用普通li了，大家看看怎么写 -->
<ul class="goods">
      <li>
        <img src="assets/imgs/img1.png" alt="">
        <p>——北欧原木色——</p>
        <span><ion-icon name="md-star-half"></ion-icon></span>
      </li>
      <li>
        <img src="assets/imgs/pic2.png" alt="">
        <p>——北欧原木色——</p>
        <span><ion-icon name="md-star-half"></ion-icon></span>
      </li>
      <li>
        <img src="assets/imgs/pic3.png" alt="">
        <p>——北欧原木色——</p>
        <span><ion-icon name="md-star-half"></ion-icon></span>
      </li>
      <li>
        <img src="assets/imgs/img1.png" alt="">
        <p>——北欧原木色——</p>
        <span><ion-icon name="md-star-half"></ion-icon></span>
      </li>
      <li>
        <img src="assets/imgs/img1.png" alt="">
        <p>——北欧原木色——</p>
        <span><ion-icon name="md-star-half"></ion-icon></span>
      </li>
      <li>
        <img src="assets/imgs/img1.png" alt="">
        <p>——北欧原木色—— </p>
        <span><ion-icon name="md-star-half"></ion-icon></span>
      </li>
      
  </ul>
